{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  	<title>P3 Coloring</title>

	<script type="text/javascript" src="{% static 'coloring/vendors/jquery/jquery-3.3.1.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'coloring/vendors/paper/paper-full.min.js' %}"></script>

	<style type="text/css">
		#color-palette {
			width: 120px;
			background-color: #f1f1f1;
			display: flex;
			flex-wrap: wrap;
			position: absolute;
			bottom: 0;
      right: 0;
      box-shadow: 10px 10px 10px 10px 
		}

		.swatch {
			width: 20px;
			height: 20px;
		  -moz-border-radius: 10px;
			-webkit-border-radius: 10px;
			border-radius: 10px;
			margin: 2px;
		}

		#myCanvas {
			padding-left: 0;
		    padding-right: 0;
		    margin-left: auto;
		    margin-right: auto;
		    display: block;
		}
    
    .tool {
      width: 120px;
			background-color: #ffffff;
			display: flex;
			flex-wrap: wrap;
			position: fixed;
			top: 0;
      right: 0;
      box-shadow: 10px -20px 10px 10px
    }
    
    #brush_eyedrop {
      background-color: #f1f1f1;
    }
    
    #text1 {
      font: 12px roboto, sans-serif;
      color: #757575;
      background-color: #f1f1f1;
      
    }
    
    #text2 {
      font: 12px roboto, sans-serif;
      color: #757575;
    }
    
    #text3 {
      font: 12px roboto, sans-serif;
      color: #757575;
      background-color: #f1f1f1;
    }
    
    .color {
      top: 6px;
      right: 130px;
      position: absolute;
      border-color: #ddd;
      font: 12px roboto, sans-serif;
      color: #757575;
      text-align: right;
    }
    
	</style>

	<script type="text/javascript" canvas="canvas">
    var draw, pick, tool;
    window.onload = function() {
			var canvas = document.getElementById('myCanvas');

			// coloring page
			var mandala = {
				item: null,
				lastClicked: null,
				filePath: '/static/coloring/images/beach_simple.svg'
			};	

			// color palette
			var cp = {
				history: ["#000000"], // black selected by default
				options: [],
				$container: $('#color-palette')
			}

			// your rectangle gradient interaction goes in this function
			// you may also add code outside of the function (e.g., global variables)
			function myGradientInteraction(){
				var tool = new paper.Tool();
        
        var path = new paper.Path.Rectangle(new paper.Point(250, 300), new paper.Point(475, 420));
        path.closed = true;
        path.fillColor = 'red';
        paper.view.draw();
        
        var start;
				tool.onMouseDown = function (event) {
          start = event.point;
				}
        
        tool.onMouseUp = function (event) {
          path.fillColor = {
            gradient: {stops: [cp.history[cp.history.length-2], cp.history[cp.history.length-1]]},
            origin: start,
            destination: event.point
          }
        }
			}

			// your custom interaction goes here!
			// you may replace everything
      function myCustomInteraction() {
        //Current color
        var cc = document.getElementById("current-color");
        cc.style.backgroundColor = cp.history[cp.history.length - 1];
        
        //Fill color
        tool = new paper.Tool();
        tool.onMouseDown = function (event) {
			  	var hit = mandala.item.hitTest(event.point, { tolerance:0, fill: true });
			  	if (hit) {
			  	  hit.item.fillColor = cp.history[cp.history.length - 1];
			  	}
        }
        
        //Eyedropper
        pick = new paper.Tool();
        pick.onMouseUp = function (event) {
          var hit = mandala.item.hitTest(event.point);
          if (hit) {
			  	  var c = hit.item.fillColor._components;
            var f = (c[0] * 255).toString();
            var s = (c[1] * 255).toString();
            var t = (c[2] * 255).toString();
            var str = "rgb(" + f + ", " + s + ", " + t + ")"
            cp.history.push(str);
            var cc = document.getElementById("current-color");
            cc.style.backgroundColor = cp.history[cp.history.length - 1];
			  	}
        }
        
        //Brush tool
        draw = new paper.Tool();
        var myPath;
        draw.onMouseDown = function (event) {
	        myPath = new paper.Path();
	        myPath.strokeColor = cp.history[cp.history.length - 1];
          myPath.strokeWidth = 10;
          myPath.add(event.point);
        }
        draw.onMouseDrag = function (event) {
	        myPath.add(event.point);
        }
        draw.onMouseUp = function (event) {
	        myPath.add(event.point);
        }
      }

			// create a color palette with the given colors
			function createColorPalette(colors){

				// create a swatch for each color
				for (var i = colors.length - 1; i >= 0; i--) {
					var $swatch = $("<div>").css("background-color", colors[i])
									   .addClass("swatch");
					$swatch.click(function(){
						// add color to the color palette history
					  cp.history.push($(this).css("background-color"));
            var cc = document.getElementById("current-color");
            cc.style.backgroundColor = cp.history[cp.history.length - 1];
					});
					cp.$container.append($swatch);
				}
			}

			// loads a set of colors from a json to create a color palette
			function getColorsCreatePalette(){
				cp.$container.html(" ");
				$.getJSON('/static/coloring/vendors/material/material-colors.json', function(colors){
					var keys = Object.keys(colors);
					for (var i = keys.length - 1; i >= 0; i--) {
						cp.options.push(colors[keys[i]][100]);
            cp.options.push(colors[keys[i]][300]);
            cp.options.push(colors[keys[i]][500]);
            cp.options.push(colors[keys[i]][700]);
            cp.options.push(colors[keys[i]][900]);
					}
					createColorPalette(cp.options);
				});
			}

			function init(custom){
				paper.setup(canvas);
				getColorsCreatePalette();

				paper.project.importSVG(mandala.filePath, function(item) { 
					mandala.item = item._children["design-freepik"];
				    paper.project.insertLayer(0,mandala.item);

				    if (custom) {
				    	myCustomInteraction();	
				    } else {
				    	myGradientInteraction();
				    }		
					
				}); 
			}

			// To see your myGradientInteraction version visit: 
			// http://<your url>:8000/coloring/?type=gradient
			// To see your myCustomInteraction version visit: 
			// http://<your url>:8000/coloring/
			var url = window.location.href;
			if (url.indexOf("gradient") > -1) {
				init(false);
			} else {
				init(true);
			}
		}
	</script>
</head>
<body>	

	<canvas id="myCanvas" width="750px" height="750px"></canvas>
	<div id="color-palette"></div>
  <div class="color">
    <div class="row">
      <button type="button" class="btn btn-lg" id="current-color" style="background-color:black;width:36px;height:36px;"></button>
    </div>
    <div class="row">
      Current
    </div>
    <div class="row">
      color
    </div>
  </div>
  
  <div class="tool">
    <div class="row" style="padding: 10px 0px 5px 0px" >
      <input type="image" src="/static/coloring/images/undo.svg" id="undo" style="height: 30px;padding: 0px 0px 0px 3px"/>
      <input type="image" src="/static/coloring/images/redo.svg" id="redo" style="height: 30px; padding: 0px 0px 0px 3px"/>
      <input type="image" src="/static/coloring/images/done.svg" id="done" style="float: right; height: 30px; padding: 0px 0px 0px 16px"/>
    </div>
    
    <div class="row" style="padding: 10px 0px 10px 0px" id="brush_eyedrop">
      <input type="image" src="/static/coloring/images/brush_bw.svg" id="brush" onclick="draw.activate();" style="height: 30px; padding: 0px 0px 0px 8px"/>
      <input type="image" src="/static/coloring/images/paint_bucket_bw.svg" id="bucket" onclick="tool.activate();" style="height: 30px; padding: 0px 0px 0px 3px"/>
      <input type="image" src="/static/coloring/images/eyedropper_bw.svg" id="eyedropper" onclick="pick.activate();" style="height: 30px; padding: 0px 7px 0px 3px"/>
    </div>
    
    <div class="row" style="padding: 10px 0px 5px 0px" id="text2">
      &nbsp;&nbsp;&nbsp;&nbsp;Texture
    </div>
    
    <div class="row" style="padding: 5px 0px 4px 0px" id="texture">
      <input type="image" src="/static/coloring/images/water_pre.jpeg" id="water" style="height: 30px; padding: 0px 0px 3px 10px"/>
      <input type="image" src="/static/coloring/images/sky_pre.jpeg" id="sky" style="height: 30px; padding: 0px 0px 3px 10px"/>
      <input type="image" src="/static/coloring/images/wood1_pre.jpg" id="wood1" style="height: 30px; padding: 0px 0px 3px 10px"/>
      <input type="image" src="/static/coloring/images/wood2_pre.jpeg" id="wood2" style="height: 30px; padding: 0px 0px 0px 10px"/>
    </div>
    
    <div class="row" style="padding: 10px 0px 3px 0px" id="text3">
      &nbsp;&nbsp;&nbsp;&nbsp;Color&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </div>
  </div>
  
  
</body>
</html>